<footer class="page-footer">
  <section class="container footer-top">
    <div class="footer-about-us">
      <h4 class="footer-title">ABOUT US</h4>
      <ul class="footer-list">
        <li>GENERAL INTRODUCTION</li>
        <li>HUMAN</li>
        <li>FACELITIES AND FACELITIES</li>
      </ul>
    </div>
    <div class="footer-support">
      <h4 class="footer-title">SUPPORT</h4>
      <ul class="footer-list">
        <li>HEALTH COUNSELING</li>
        <li>RECULAR MEDICINE</li>
        <li>SCHEDULE APPOINTMENTS</li>
      </ul>
    </div>
    <div class="footer-social">
      <h4 class="footer-title">SOCIAL CONNECTION</h4>
      <ul>
        <li>
          <a class="footer-social-item" href="#">
            <img src="../../assets/img/face.png">
            <span class="connection">FACEBOOK</span>
          </a>
        </li>
        <li>
          <a class="footer-social-item" href="#">
            <img src="../../assets/img/gg.png  ">
            <span class="connection">GOOGLE+</span>
          </a>
        </li>
        <li>
          <a class="footer-social-item" href="#">
            <img src="../../assets/img/youtube.png">
            <span class="connection">YOUTUBE</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="container copyright">
    <span class="copyright-item">2018 - COPYRIGHT OF SECIALIZED CLINIC</span>
    <span>DESIGN BY <a href="#" class="ddcom">DD.COM</a></span>
  </section>
</footer>
