<app-header></app-header>
<form
  class="container form-group form-register"
  #registerForm="ngForm"
  (ngSubmit)="required(registerForm.value)"
>
  <div class="form-group-res">
    <h1 class="form-title">Register</h1>
    <label for="">Full name: <span class="valid">*</span></label>
    <input
      class="form-control"
      type="text"
      name="fullname"
      #name="ngModel"
      [(ngModel)]="fullname"
      required
      minlength="10"
    />
    <div
      *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="name.errors.required">
        *Name is required!
      </div>
      <div *ngIf="name.errors.minlength">
        *Name must be at least 10 characters long!
      </div>
    </div>
    <label for="email">Email: <span class="valid">*</span></label>
    <input
      class="form-control"
      type="text"
      name="emailaddress"
      #email="ngModel"
      [(ngModel)]="emailaddress"
      email
      required
    />
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="email.errors.required">
        *Email is required!
      </div>
      <div *ngIf="email.errors.email">
        *Email is invalid 'Exe: example@gmail.com'!
      </div>
    </div>
    <label for="">Password:<span class="valid">*</span></label>
    <input
      class="form-control"
      type="password"
      name="password"
      #pass="ngModel"
      [(ngModel)]="password"
      required
    />
    <div
      *ngIf="pass.invalid && (pass.dirty || pass.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="pass.errors.required">
        *Password is required!
      </div>
    </div>
    <label for="">Con-Password: <span class="valid">*</span></label>
    <input
      class="form-control"
      type="password"
      name="conpassword"
      #cpass="ngModel"
      [(ngModel)]="conpassword"
      required
    />
    <div
      *ngIf="cpass.invalid && (cpass.dirty || cpass.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="cpass.errors.required">
        *Con-password is required!
      </div>
    </div>
    <div class="form-group" ngModelGroup="address">
      <label for="">Address: <span class="valid">*</span></label>
      <div class="form-group-list">
        <input
          class="form-control col-sm-4 max-width"
          type="text"
          name="housenumber"
          placeholder="House number"
          #number="ngModel"
          [(ngModel)]="housenumber"
          required
        />
        <input
          class="form-control col-sm-4 max-width"
          type="text"
          name="street"
          placeholder="Street"
          #fstreet="ngModel"
          [(ngModel)]="street"
          required
        />
        <input
          class="form-control col-sm-4 max-width"
          type="text"
          name="city"
          placeholder="City"
          #fcity="ngModel"
          [(ngModel)]="city"
          required
        />
      </div>
      <div class="form-group-list">
        <div class="col-sm-4 max-width">
          <div
            *ngIf="number.invalid && (number.dirty || number.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="number.errors.required">
              *House number is required!
            </div>
          </div>
        </div>
        <div class="col-sm-4 max-width">
          <div
            *ngIf="fstreet.invalid && (fstreet.dirty || fstreet.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="fstreet.errors.required">
              *Street is required!
            </div>
          </div>
        </div>
        <div class="col-sm-4 max-width">
          <div
            *ngIf="fcity.invalid && (fcity.dirty || fcity.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="fcity.errors.required">
              *City is required!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="valiable-text-again" *ngIf="">
      *Password and Con-Password does not match.
    </div>
    <div class="form-btn-submit">
      <button
        class="btn btn-primary btn-submit"
        [disabled]="registerForm.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</form>
<app-footer></app-footer>
