.form-register {
  margin-top: 30px;
  border-radius: 20px;
  background: #f1f1f1;
  .form-group-res {
    padding: 20px;
  }
  .form-title {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #076cd4;
  }
  .form-group-list {
    display: flex;
    justify-content: space-between;
  }
  .form-control {
    margin-bottom: 20px;
  }
  .valid {
    color: red;
  }
  .max-width {
    max-width: 31%;
  }
  .form-btn-submit {
    text-align: center;
  }
  .btn-submit {
    width: 20%;
  }
  .alert {
    padding: 0rem 1.25rem !important;
  }
}
