/* You can add global styles to this file, and also import other style files */
// @font-face {
//   font-family: 'UTM Avo';
//   font-style: normal;
//   font-weight: normal;
//   src:  url(./font/utm-avo.woff), format(woff);
// }
// @font-face {
//   font-family: 'UTM Avobold';
//   font-style: normal;
//   font-weight: normal;
//   src:  url(./font/utm-avobold.woff), format(woff);
// }
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// .container {
//   padding-left: 11.25%;
//   padding-right: 11.25%;
// }

/* Footer */
.page-footer  {
  height: 260px;
  clear: both;
  position: relative;
  background-color: #007bff;
  margin-top : 38px;
  color: white;
}

.footer-top {
  display: flex;
  height: 202px;
  font-size: 9pt;
  border-bottom: 1px solid #81d1f9;
}

.footer-top ul  {
  line-height: 30px;
  padding-top: 12px;
}

.footer-list {
  line-height: 30px;
  padding-top: 12px;
  padding-left: 14px;
}
.footer-top h4 {
  font-size: 17px;
  padding-top: 49px;
}

.footer-social ul {
  margin-left: 9px;
}

.footer-social li {
  list-style-type: none;
}

.footer-top li{
  color: #ffffff;
}

.footer-title {
  color: #ffffff;
}

.footer-about-us  {
  /* float: left;  */
  width: 34%;
  list-style-type: none;
}

.footer-support {
  /* float: left;  */
  width: 33%;
}

.footer-social  {
  list-style-type: none;
  /* float: right;  */
  width: 33.33333%;
}

.footer-social-item {
  display: flex;
  align-items: center;
}

.connection {
  padding-left: 8px;
}

.copyright  {
  height: 56px;
  display: flex;
  justify-content: space-between;
  line-height: 56px;
  font-size: 13px;;
}

.ddcom  {
  color: green;
}

.copyright-item::before {
  content: '\0040';
}

.footer-social a  {
  text-decoration: none;
  color: white;
}
